.colorbanner{
        background-color:#4f0101;

}

.colorform{
  background-color: #ecf0f1;
}

.colorformpie{
  background-color: #212F3C;
}

.colorletra{
  color: #FDFEFE;
  font-size: 17px;
}

.colDashboard{
  font-size: 18px;
}
