.colorbanner{
        background-color:#4f0101;

}

.colorform{
  background-color:#F8F9F9;
}

.colorformpie{
  background-color:#909497;
}

.colorletra{
  color: #FDFEFE;
  font-size: 17px;
}

.colDashboard{
  font-size: 18px;
}
