{% extends 'layout.html.twig' %}
{% block act2 %}
active open
{% endblock %}

{% block ac5 %}
active
{% endblock %}
{% block title %}
  <h1>Listado de Trabajos</h1>
{% endblock %}
{% block body %}
<div class="portlet-body">
    <div class="row">
      <div class="col-md-6">
        <div class="btn-group">
                  <a href="{{ path('trabajos_new') }}">
                    <button id="sample_editable_1_new" class="btn green">
                      Agregar Trabajo <i class="fa fa-plus"></i>
                    </button></a>
        </div>
      </div>


  <div class="col-md-12 col-sm-12 col-xs-6">
      <table class="table table-bordered ">
        <thead>
          <tr role="row" class="">
            <th>Trabajo</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for trabajo in trabajos %}
          <tr>
              <td>{{ trabajo.trabajo }}</td>
              <td>{% if trabajo.estadoTrabajo %}Activo{% else %}No{% endif %}</td>
              <td>
                <a href="{{ path('trabajos_show', { 'idTrabajo': trabajo.idTrabajo }) }}" class="btn yellow " >Ver</a>
                <a href="{{ path('trabajos_edit', { 'idTrabajo': trabajo.idTrabajo }) }}" class="btn blue ">Editar</a>
              </td>
          </tr>
          {% endfor %}
          </tbody>
        </tbody>
      </table>
  </div>
</div>
</div>
{% endblock %}
